<section class="content-header">
</section>
  
<section class="content">
  <section class="invoice">
    
    <form class="invoice__form" [formGroup]="orderForm" novalidate>
      <!-- Form Header -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>                
      <!-- End Header -->

      <!--  -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de entrega:</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <mt-input-container label="Name" errorMessage="Campo obrigatório e com 5 caracteres">
            <input class="form-control"  placeholder="Name" formControlName="name" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container label="E-mail" errorMessage="E-mail inválido">
            <input class="form-control"  placeholder="E-mail" formControlName="email" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="E-mail" errorMessage="E-mail inválido">
            <input class="form-control"  placeholder="Confirmação do e-mail" formControlName="emailConfirmation" autocomplete="off">
          </mt-input-container>
        </div>
      </div>
      <!--  -->

      <!--  Delivery Address -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <mt-input-container label="Endereço" errorMessage="Campo obrigatório e com 5 caracteres">
            <input class="form-control"  placeholder="Endereço" formControlName="address"autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container label="Número" errorMessage="Campo obrigatório e aceita somente números">
            <input class="form-control" placeholder="Número" formControlName="number" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento</label>
            <input type="text" class="form-control" formControlName="addressComplementary"  placeholder="Complemento">
          </div>

        </div>
      </div>
      <!--  End Delivery Address -->

      <!--  Order Items  -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
          <mt-order-items [items]="cartItems()"
            (increaseQty)="increaseQty($event)"
            (decreaseQty)="decreaseQty($event)"
            (remove)="remove($event)"
          ></mt-order-items>
        </div>
        

      </div>
        <!--  End Order Items  -->

      <!-- Payments  -->
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

            <div class="form-group">
                <mt-radio-option [options]="paymentOptions" formControlName="paymentOption"></mt-radio-option>
            </div>

        </div>
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
      </div>
      <!-- End Payments  -->
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button 
        (click)="checkOrder(orderForm.value)"
        class="btn btn-success pull-right" 
        [disabled]="!orderForm.valid || cartItems().length === 0">
          <i class="fa fa-credit-card"></i>
          Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>