.relative{
    display: block;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 2px 1px 3px 2px #d2d2d2;
    position: relative;
    border: solid 3px red;
    &__badge{
        position: absolute;
        top: 0;
        right: 0;
        border: solid 1px red;
        padding: 1% 2%;
        text-transform: uppercase;
        color: #fff;
        background: red;
    }
    &__name{
        font-size: 1.5rem;
    }
    &__age{
        font-size: 1.2rem;
    }
}