.shinobi{
    display: block;
    padding: 4%;
    position: relative;
    background: #9d1a1a;
    border: solid 5px #ff6000;
    height: 100%;
    &--lead {
        padding: 20% 4%;
        background: darken(#9d1a1a, 10);
    }
    &__badge{
        position: absolute;
        top: 0;
        right: 0;
        border: solid 1px #0d6ccd;
        padding: 1% 2%;
        text-transform: uppercase;
        color: #fff;
        background: #0099f4;
    }
    &__name{
        color: #fffaf3;
        font-size: 1.8rem;
        font-weight: bold;
    }
    &__feature{
        font-size: 1.2rem;
        color: #ffa800;
        strong {
            color: #fff;
        }
    }
}