.navbar{
    background: #c6284c;
}
.navbar a {
    color: #fff;
}
.navbar a:hover{
    background: #a21f3d;
}
.navbar .active,
.navbar .active a:active,
.navbar .active a:focus
{
    background: #a21f3d;
}
