.app{
    &__relatives{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item{
            width: 24.25%;
            &:not(:first-child):not(:nth-child(5n)){
                margin-left: .5%;
            }
            &:not(:last-child):not(:nth-child(4n)){
                margin-right: .5%;
            }
        }
    }
}